@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Variables
$color-background: #f9f9f9;
$color-black:      #000;
$color-border:     #f2f2f2;
$color-primary:    #da552f;
$color-text:       #999;
$color-white:      #fff;
$size-14:          14px;
$size-13:          13px;
$width-wrapper:    1070px;

// Mixins
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-sizing () {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

@mixin transition ($seconds) {
  -webkit-transition: all $seconds linear;
     -moz-transition: all $seconds linear;
      -ms-transition: all $seconds linear;
          transition: all $seconds linear;
}

@mixin txt-input ($width) {
  @include border-radius(3px);
  @include box-sizing();
  border: 1px solid $color-border;
  font-size: $size-13;
  margin: 10px 10px 0 0;
  outline: 0;
  padding: 6px;
  width: $width;
}

@mixin box-content ($width) {
  @include box-sizing;
  background: $color-white;
  border: 1px solid $color-border;
  margin: 0 0 20px;
  padding: 10px 15px 15px;
  width: $width;
}

// General
a {
  color: $color-text;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    @include transition(.2s);
    color: $color-primary;
  }
}

.clearfix {
  clear: both;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.text-center {
  text-align: center;
}

// Main page
body {
  background: $color-background;
  color: $color-text;
  font-family: 'Roboto';
  font-size: $size-14;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.header {
  background: $color-white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);

  #logo {
    height: 50px;
    width: 50px;
  }

  .txt-search {
    @include txt-input(calc(100% - 135px));
    background: url(./images/search.png) 2px 2px no-repeat;
    padding: 6px 12px 6px 30px;
  }

  .search-container,
  nav {
    margin: 0 auto;
    width: $width-wrapper;
  }

  .search-container {
    height: 50px;

    a {
      padding: 0 5px;
    }
  }

  nav {
    border-top: 1px solid $color-background;

    ul {
      background: red;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        float: left;
        font-size: $size-13;
        font-weight: 400;
        list-style-type: none;
        margin: 0 5px 0 0;
        padding: 17px 21px;

        &:last-child {
          margin: 0;
        }

        &.current,
        &:hover {
          background: $color-background;
        }

        &.current {
          color: $color-black;
        }
      }
    }

    .arrows {
      @include box-sizing();
      padding-top: 17px;

      img {
        width: 14px;
      }
    }
  }
}

.main-content {
  margin: 30px auto;
  width: $width-wrapper;

  .box {
    @include box-content(100%);

    strong {
      color: $color-black;
      display: inline-block;
      font-weight: 500;
      margin: 0 5px;
    }
  }

  .txt-subscribe {
    @include txt-input(200px);
    margin-left: 15px;
  }

  .btn-subscribe {
    @include border-radius(3px);
    background: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 15px;
    text-transform: uppercase;

    &:hover {
      background: #ea522a;
    }
  }

  .close {
    float: right;
    margin: 16px 5px 0 0;

    img {
      height: 14px;
    }
  }
}
